.Toolbar {
	height: 80px;
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: left;
	padding: 0 10px;
	box-sizing: border-box;
  border-bottom: 1px solid #eee;
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
	z-index: 90;
}

.Toolbar nav{
	height:100%;

}

.Toolbar.active {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid #eee;
 
}


#searchwrapper {
  display: inline-block;
  top:0;
  width: 500px;
  height: 30px;


}

#searchwrapper form svg {
  width: 18px;
  height: 12px;
  vertical-align: middle;

}

#searchwrapper form input {
  padding: 22px 10px 18px 52px;
  width: 100%;
  border:none;
  outline: none;
  color: #666;
  font-size: 24px;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: border-box; 
  background-image: url('./search-icon.svg');
  background-repeat: no-repeat;
  background-position: 20px;
  background-size: 25px;
}﻿

#searchwrapper form input::-webkit-input-placeholder {
 color: #666; 
 font-size: 14px;


}

.Toolbar ul {
  float: right;
  padding: 22px 0;
}

.Toolbar ul li {
  display: inline-block;
  margin: 0 30px;
}

.Toolbar ul li a:link {
  color: #484848;
  font-size: 14px;
}

.Toolbar ul li a:visited {
  color: #484848;
}


@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}