.Main {
  text-align: left;
  background-color: black;
}

.Header {
  background-color: black;
  height: auto;
  padding: 250px;

 }

.Container {
  font-size: large;
  background-color: white;
  height: auto;
  width: auto;
  padding: 120px;  

}


.Footer {
  background-color: #e0e0e0;
  height: auto;
  width: auto;
  padding: 10px;

 }

 .video{

    position: absolute;
    z-index: 0;
    opacity: 0.25;
    filter: alpha(opacity=50);
    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100% 100%;
    top: -15px;
    left: 0px; /* fixed to left. Replace it by right if you want.*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;

 

}

@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }
}