.logo:link {
  color: #484848;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -0-transition: all 0.3s ease;
}

.logo:visited {
  color: #484848;

}

.logo:hover {
  color: #f1f1f1;
  background-color: #f7f7f7;
}

.logo {
  position: left;
  padding: 12px 18px;

  width: 50px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}
