.ds-title {
	font-size: 19px;
	font-weight: 400;
	padding-top: 45px;
	padding-bottom: 20px;
}

.display-slider {
	position: relative;
	width: 100%;
	height: auto;
	background-color: transparent;
	
}

.ds-div {
	position: relative;
	display: inline-block;
	width: 22%;
	border: 1px solid #333;
	height: 300px;
	background-color: #333;
	margin-right: 20px;
	text-align: center;
  	box-shadow: 1px 5px 5px rgba(0,0,0,0.1);
  

}

.ds-div:hover {
  color: #606060;
  background-color: #606060;
  width: 24%;
  transition: all 0.3s ease;
  -webkit-transition:all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -0-transition: all 0.3s ease;
}



.ds-div:last-of-type {
	margin-right: 0;
}

#display-sliders-wrapper {
	position: relative;
	width: 100%;
	height: auto;
	margin: 20px auto;
	
}


.ds-div p{
	color:#fff;
	font-size:22px;
	margin-top: 15px;
}


















